.componenta {
  position: absolute;
  left: 100%;
  transform: translateX(-100%);
  position: absolute;
  direction: rtl;
  width: 24.53125vw;
  height: 67.76429809358753vh;
  background-color: #ffffff;
  transition: transform 0.2s;
}

.imgArea {
  width: 24.53125vw;
  height: 30.502599653379548vh;
  position: absolute;
  top: 0;
  left: 0;
}

.category {
  width: 3.90625vw;
  height: 3.5211267605633805vh;
  top: 10%;
  top: 34.50704225352113vh;
  right: 1.5625vw;
  position: absolute;
  background-color: #ed1c24;
}

.category span {
  color: #fff;
  font-size: 2.4263431542461005vh;
  position: absolute;
  right: 0.78125vw;
  line-height: 1.5625vw;
}

.title {
  top: 39.168110918544194vh;
  right: 1.5625vw;
  width: 21.40625vw;
  height: 8.838821490467938vh;
  font-size: 3.119584055459272vh;
  line-height: 4.15944540727903vh;
  color: #25262b;
  position: absolute;
  font-weight: bold;
  max-lines: 3;
}

.subTitle {
  top: 48.7001733102253vh;
  right: 1.5625vw;
  width: 21.40625vw;
  height: 11.265164644714039vh;
  font-size: 2.4263431542461005vh;
  line-height: 3.8128249566724435vh;
  color: #25262b;
  position: absolute;
}

.author {
  color: #777777;
  font-size: 2.079722703639515vh;
  line-height: 5.892547660311958vh;
  position: absolute;
  top: 61.005199306759096vh;
  right: 1.5625vw;
  font-weight: bold;
}

.imgArea:hover {
  transform: scale(1.1);
  transition: 2s;
  cursor: pointer;
}
<<<<<<< HEAD

@media (max-width: 1200px) {
  .componenta {
    top: 32%;
    left: 50%;
    transform: translateX(-50%);
  }
  .title {
    font-size: 1.40625vw;
  }
  .subTitle {
    font-size: 1.09375vw;
=======
@media (max-width: 900px) {
  .card-container {
    position: absolute;
    top: 35%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
>>>>>>> 9caaa4bf788015bd92155702c22f004299c02e0f
  }
  .category span {
    font-size: 1.5625vw;
  }
}
