.input {
  background-color: gray;
  width: 40rem;
  position: absolute;
  top: 20%;
}

.input-container {
  border: 1px solid black;
  padding: 2rem;
  direction: rtl;
  display: grid;
}

.item.item2 > select {
  width: 100%;
}

.item.item4 > input {
  width: 100%;
}

@media (max-width: 1200px) {
  .input {
    background-color: purple;
    margin: auto;
    width: 95%;
    position: absolute;
    margin-left: 1.5rem;
    top: 0%;
  }
}
