.main-container {
  position: relative;
  height: 50rem;
  margin-bottom: 3rem;
  width: 98rem;
  margin: auto;
  margin-bottom: 2rem;
  margin-top: 3rem;
}

@media (max-width: 1200px) {
  .main-container {
    width: 95vw;
    height: 100vh;
    margin-bottom: 1rem;
    margin-top: 0;
  }
}
